{% extends "base.html" %}

{% block content %}
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Eat consciously.</h2>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="{{ url_for('auth.signup') }}">Sign up</a><a class="btn btn-light" role="button" href="{{ url_for('auth.login') }}">Log in</a></div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
